<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Hands-on Lab: API Examples
## Random User and Fruityvice API Examples


Estimated time needed: **30** minutes

## Objectives

After completing this lab you will be able to:

*   Load and use RandomUser API, using `RandomUser()` Python library
*   Load and use Fruityvice API, using `requests` Python library
*   Load and use Open-Joke-API, using `requests` Python library

The purpose of this notebook is to provide more examples on how to use simple APIs. As you have already learned from previous videos and notebooks, API stands for Application Programming Interface and is a software intermediary that allows two applications to talk to each other. 

The advantages of using APIs:
 *   **Automation**. Less human effort is required and workflows can be easily updated to become faster and more      
     productive.
 *   **Efficiency**. It allows to use the capabilities of one of the already developed APIs than to try to 
     independently implement some functionality from scratch.
 
The disadvantage of using APIs:
 *   **Security**. If the API is poorly integrated, it means it will be vulnerable to attacks, resulting in data breeches or losses having financial or reputation implications.

One of the applications we will use in this notebook is Random User Generator. RandomUser is an open-source, free API providing developers with randomly generated users to be used as placeholders for testing purposes. This makes the tool similar to Lorem Ipsum, but is a placeholder for people instead of text. The API can return multiple results, as well as specify generated user details such as gender, email, image, username, address, title, first and last name, and more. More information on [RandomUser](https://randomuser.me/documentation#intro) can be found here.

Another example of simple API we will use in this notebook is Fruityvice application. The Fruityvice API web service which provides data for all kinds of fruit! You can use Fruityvice to find out interesting information about fruit and educate yourself. The web service is completely free to use and contribute to.

## Example 1: RandomUser API
Bellow are Get Methods parameters that we can generate. For more information on the parameters, please visit this [documentation](https://randomuser.me/documentation) page.

## **Get Methods**

- get_cell()
- get_city()
- get_dob()
- get_email()
- get_first_name()
- get_full_name()
- get_gender()
- get_id()
- get_id_number()
- get_id_type()
- get_info()
- get_last_name()
- get_login_md5()
- get_login_salt()
- get_login_sha1()
- get_login_sha256()
- get_nat()
- get_password()
- get_phone()
- get_picture()
- get_postcode()
- get_registered()
- get_state()
- get_street()
- get_username()
- get_zipcode()

To start using the API you can install the `randomuser` library running the `pip install` command.

In [1]:
!pip install randomuser

Collecting randomuser
  Downloading randomuser-1.6.tar.gz (5.0 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: randomuser
  Building wheel for randomuser (setup.py): started
  Building wheel for randomuser (setup.py): finished with status 'done'
  Created wheel for randomuser: filename=randomuser-1.6-py3-none-any.whl size=5090 sha256=83c039386345e3c63d3305ed15dce38004bfb88934ca5ace6afaa8e6f7f08561
  Stored in directory: c:\users\ahmed\appdata\local\pip\cache\wheels\be\62\c8\71e1b48f4758ea5b78af7595d87178f628cde315a3326610ee
Successfully built randomuser
Installing collected packages: randomuser
Successfully installed randomuser-1.6

Then, we will load the necessary libraries.

In [2]:
from randomuser import RandomUser
import pandas as pd

First, we will create a random user object, r.

In [3]:
r = RandomUser()

Then, using `generate_users()` function, we get a list of random 10 users.

In [4]:
some_list = r.generate_users(10)

In [5]:
some_list

[<randomuser.RandomUser at 0x22df4f60a40>,
 <randomuser.RandomUser at 0x22df4f60a70>,
 <randomuser.RandomUser at 0x22df4f60aa0>,
 <randomuser.RandomUser at 0x22df4f60ad0>,
 <randomuser.RandomUser at 0x22df4f60b00>,
 <randomuser.RandomUser at 0x22df4f60b30>,
 <randomuser.RandomUser at 0x22df4f60b60>,
 <randomuser.RandomUser at 0x22df4f60b90>,
 <randomuser.RandomUser at 0x22df4f60bc0>,
 <randomuser.RandomUser at 0x22df4f60bf0>]

The **"Get Methods"** functions mentioned at the beginning of this notebook, can generate the required parameters to construct a dataset. For example, to get full name, we call `get_full_name()` function.

In [6]:
name = r.get_full_name()

Let's say we only need 10 users with full names and their email addresses. We can write a "for-loop" to print these 10 users.

In [7]:
for user in some_list:
    print (user.get_full_name()," ",user.get_email())

Eskild Vestby   eskild.vestby@example.com
Sharin Smale   sharin.smale@example.com
Kristin Steiger   kristin.steiger@example.com
Guy Spencer   guy.spencer@example.com
Mohamed Serrano   mohamed.serrano@example.com
Luana Moraes   luana.moraes@example.com
Julius Waara   julius.waara@example.com
النا رضایی   ln.rdyy@example.com
Laura Thomsen   laura.thomsen@example.com
Oliver Ginnish   oliver.ginnish@example.com

## Exercise 1
In this Exercise, generate photos of the random 10 users.

In [8]:
## Write your code here
for i in some_list:
    print(user.get_picture())

https://randomuser.me/api/portraits/men/61.jpg
https://randomuser.me/api/portraits/men/61.jpg
https://randomuser.me/api/portraits/men/61.jpg
https://randomuser.me/api/portraits/men/61.jpg
https://randomuser.me/api/portraits/men/61.jpg
https://randomuser.me/api/portraits/men/61.jpg
https://randomuser.me/api/portraits/men/61.jpg
https://randomuser.me/api/portraits/men/61.jpg
https://randomuser.me/api/portraits/men/61.jpg
https://randomuser.me/api/portraits/men/61.jpg

<details><summary>Click here for the solution</summary>

```python
for user in some_list:
    print (user.get_picture())
```

</details>

To generate a table with information about the users, we can write a function containing all desirable parameters. For example, name, gender, city, etc. The parameters will depend on the requirements of the test to be performed. We call the Get Methods, listed at the beginning of this notebook. Then, we return pandas dataframe with the users.

In [9]:
def get_users():
    users =[]
     
    for user in RandomUser.generate_users(10):
        users.append({"Name":user.get_full_name(),"Gender":user.get_gender(),"City":user.get_city(),"State":user.get_state(),"Email":user.get_email(), "DOB":user.get_dob(),"Picture":user.get_picture()})
      
    return pd.DataFrame(users)

In [10]:
get_users()

,Name,Gender,City,State,Email,DOB,Picture
0,Lola Deschamps,female,Erlinsbach (Ag),Luzern,lola.deschamps@example.com,1962-02-27T17:33:02.544Z,https://randomuser.me/api/portraits/women/6.jpg
1,Emanuel Stangeland,male,Seimsfoss,Telemark,emanuel.stangeland@example.com,1951-07-20T13:56:58.092Z,https://randomuser.me/api/portraits/men/85.jpg
2,Jose Crespo,male,Burgos,Comunidad de Madrid,jose.crespo@example.com,1998-08-05T14:58:33.223Z,https://randomuser.me/api/portraits/men/89.jpg
3,Arieke Pappot,female,Bergen aan Zee,Zuid-Holland,arieke.pappot@example.com,1996-07-21T10:03:15.634Z,https://randomuser.me/api/portraits/women/34.jpg
4,Ceyhun Tuğlu,male,Ardahan,Muş,ceyhun.tuglu@example.com,1995-07-15T02:07:26.603Z,https://randomuser.me/api/portraits/men/68.jpg
5,Amalie Jørgensen,female,Lundby,Danmark,amalie.jorgensen@example.com,1980-06-03T12:07:05.565Z,https://randomuser.me/api/portraits/women/2.jpg
6,Arne Kelderman,male,Warfstermolen,Groningen,arne.kelderman@example.com,1947-03-27T09:47:05.234Z,https://randomuser.me/api/portraits/men/27.jpg
7,Levi Sandhåland,male,Bøverbru,Nordland,levi.sandhaland@example.com,1948-12-28T20:28:34.522Z,https://randomuser.me/api/portraits/men/32.jpg
8,Christina Butler,female,Midleton,Galway,christina.butler@example.com,1982-07-15T17:27:26.877Z,https://randomuser.me/api/portraits/women/62.jpg
9,Rene Curtis,male,Toowoomba,New South Wales,rene.curtis@example.com,1984-01-03T15:21:16.497Z,https://randomuser.me/api/portraits/men/19.jpg

In [12]:
df1 = pd.DataFrame(get_users())

Now we have a *pandas* dataframe that can be used for any testing purposes that the tester might have.

## Example 2: Fruityvice API

Another, more common way to use APIs, is through `requests` library. The next lab, Requests and HTTP, will contain more information about requests.

We will start by importing all required libraries.

In [18]:
import requests
import json

We will obtain the [fruityvice](https://www.fruityvice.com) API data using `requests.get("url")` function. The data is in a json format.

In [19]:
data = requests.get("https://fruityvice.com/api/fruit/all")

We will retrieve results using `json.loads()` function.

In [20]:
results = json.loads(data.text)

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

We will convert our json data into *pandas* data frame.

In [21]:
pd.DataFrame(results)

NameError: name 'results' is not defined

The result is in a nested json format. The 'nutrition' column contains multiple subcolumns, so the data needs to be 'flattened' or normalized.

In [22]:
df2 = pd.json_normalize(results)

NameError: name 'results' is not defined

In [23]:
df2

NameError: name 'df2' is not defined

Let's see if we can extract some information from this dataframe. Perhaps, we need to know the family and genus of a cherry.

In [24]:
cherry = df2.loc[df2["name"] == 'Cherry']
(cherry.iloc[0]['family']) , (cherry.iloc[0]['genus'])

NameError: name 'df2' is not defined

## Exercise 2
In this Exercise, find out how many calories are contained in a banana.

In [25]:
# Write your code here
cal_banana = df2.loc[df2["name"] == 'Banana']
cal_banana.iloc[0]['nutritions.calories']

NameError: name 'df2' is not defined

<details><summary>Click here for the solution</summary>

```python
cal_banana = df2.loc[df2["name"] == 'Banana']
cal_banana.iloc[0]['nutritions.calories']
```

</details>

## Exercise 3

This [page](https://mixedanalytics.com/blog/list-actually-free-open-no-auth-needed-apis/) contains a list of free public APIs for you to practice. Let us deal with the following example.

#### Official Joke API 
This API returns random jokes from a database. The following URL can be used to retrieve 10 random jokes.

https://official-joke-api.appspot.com/jokes/ten

1. Using `requests.get("url")` function, load the data from the URL.

In [26]:
# Write your code here
data2 = requests.get("https://official-joke-api.appspot.com/jokes/ten")

<details><summary>Click here for the solution</summary>

```python
data2 = requests.get("https://official-joke-api.appspot.com/jokes/ten")
```

</details>

2. Retrieve results using `json.loads()` function.

In [27]:
# Write your code here
results2 = json.loads(data2.text)

<details><summary>Click here for the solution</summary>

```python
results2 = json.loads(data2.text)
```

</details>

3. Convert json data into *pandas* data frame. Drop the type and id columns.

In [28]:
# Write your code here
df3 = pd.DataFrame(results2)
df3.drop(columns=["type","id"],inplace=True)
df3

,setup,punchline
0,Why does Waldo only wear stripes?,Because he doesn't want to be spotted.
1,Where do rabbits go after they get married?,On a bunny-moon.
2,Why do crabs never give to charity?,Because they’re shellfish.
3,Why can't your nose be 12 inches long?,Because then it'd be a foot!
4,What are the strongest days of the week?,Saturday and Sunday...the rest are weekdays.
5,What is the difference between ignorance and a...,I don't know and I don't care.
6,I dropped a pear in my car this morning.,"You should drop another one, then you would ha..."
7,What kind of bagel can fly?,A plain bagel.
8,Did you hear that the police have a warrant ou...,"It reads ""Small medium at large."""
9,Why did the coffee file a police report?,It got mugged.

<details><summary>Click here for the solution</summary>

```python
df3 = pd.DataFrame(results2)
df3.drop(columns=["type","id"],inplace=True)
df3
```

</details>

# Congratulations! - You have completed the lab

## Author
<a href="https://www.linkedin.com/in/svitlana-kramar" target="_blank">Svitlana Kramar</a>

Svitlana is a master’s degree Data Science and Analytics student at University of Calgary, who enjoys travelling, learning new languages and cultures and loves spreading her passion for Data Science.

## Additional Contributor
<a href="https://www.linkedin.com/in/abhishek-gagneja-23051987/" target="_blank">Abhishek Gagneja</a>

Copyright © 2023 IBM Corporation. All rights reserved.